.product_review_ask {
  margin-bottom: 1.6rem;
}

.product_ask {
  margin-bottom: 1.6rem;
}

.product_ask_btn_send {
  padding: 0 4px;
}

.product_ask_header {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
}

.product_ask_header_input {
  margin: 10px;
  outline: none;
  font-size: 14px;
}

.product_ask_input {
  padding: 5px;
  border-radius: 6px;
  height: 56px;
  border-color: transparent;
  outline: none;
  size: 90%;
}

.product_ask_btn {
  justify-content: space-around;
  border-radius: 6px;
  margin: 0 4px;
  background: var(--primary--color);
  max-height: 32px;
  color: var(--white--color);
  font-size: 12px;
  cursor: pointer;
  padding: 6px 0;
}

.product_ask_item {
  margin: 10px;
  font-size: 14px;
}

.product_ask_btn_send {
  background: var(--primary--color);
  border-color: transparent;
  cursor: pointer;
  color: var(--white--color);
}

.product_ask_item_ask_name {
  font-weight: 500;
}

.product_ask_item_ask_content {
  margin: 10px 16px;
  background-color: var(--white--color);
  border-radius: 6px;
  padding: 10px;
}

.product_ask_item_button {
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--primary--color);
  float: right;
}

.product_ask_item_button :hover {
  opacity: 0.3;
}

.product_ask_item_answer {
  margin: 10px 32px;
  padding: 1rem 0 0 1rem;
  flex-direction: column;
  font-size: 14px;
}

.product_ask_item_answer_header {
  align-items: center;
  font-weight: 500;
  padding: 1rem 0 0 1rem;
}

.product_ask_item_answer_content {
  margin: 10px 16px;
  background-color: var(--white--color);
  border-radius: 6px;
  padding: 10px;
}

.product_ask_item_answer_name {
  margin-left: 6px;
}

.product_ask_list_btn {
  background: var(--primary--color);
  margin: 10px 0;
  padding: 5px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border-color: transparent;
}

.product_review_header {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.product_review_btns {
  justify-content: space-around;
}

.product_review_btn {
  margin: 10px 0;
  background-color: var(--primary--color);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border-color: transparent;
  padding: 10px 0;
}

.product_review_statistic_left {
  font-size: 13px;
}

.product_review_statistic_header {
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.product_review_statistic_star_item {
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px 5px 10px;
}

.product_review_statistic_star_item_bar {
  width: 60%;
}

.percent {
  right: -5px;
}

.review_star {
  height: 5px;
  background-color: var(--primary--color);
}

.no_review {
  height: 5px;
  background-color: var(--border--color);
}

.product_review_statistic_img {
  width: 20%;
  margin: 0 4px 0 10px;
  border-radius: 6px;
  border: 1px solid var(--border--color);
}

.product_review_list {
}

.product_review_item {
  font-size: 14px;
  margin: 10px 16px;
}

.product_review_header_username {
  margin-right: 5px;
}

.product_review_header_text {
  margin-left: 5px;
}

.product_review_item_content {
  padding: 10px 0;
}

.product_user {
  display: flex;
  align-items: center;
}

.product_user__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.product_user__image > img {
  width: 100%;
}

@media (max-width: 1113px) {
  .product_review_ask_left {
    margin-bottom: 1.6rem;
    padding: 0 1.6rem;
  }
  .product_review_ask_right {
    padding: 0 1.6rem;
  }
}
