.product_introduce {
}

.product_introduce_left {
}

.product_introduce_right {
}

.product_img {
  flex-shrink: 0;
}

.product_introduce_img {
  border-radius: 6px;
  border-color: #999999;
  border-style: solid;
  border-width: 2px;
  width: 100%;
}

.product_introduce_expand {
  margin: 16px 0;
  justify-content: space-around;
}

.product_introduce_expand_item {
  max-width: 54px;
  // width: 100%;
  flex-direction: column;
}

.product_introduce_expand_item_text {
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.expand_item_logo {
  border-radius: 6px;
  border-color: #999999;
  border-style: solid;
  border-width: 2px;
  width: 54px;
  height: 54px;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  cursor: pointer;
}

.product_introduce_option {
  display: flex;
}

.product_introduce_option_item {
  text-align: center;
  color: #000000;
  font-weight: 600;
  padding: 8px;
  font-size: 12px;
  margin-right: 10px;
  // width: 15%;
  height: 5%;
  user-select: none;
  background-color: transparent;
}

.product_introduce_price_original {
  font-size: 1.4rem;
  color: var(--black--color);
  position: relative;
  font-weight: 400;
}

.product_introduce_option_item.active {
  background-color: var(--primary--color);
  border-color: var(--primary--color);
  color: var(--white--color);
}

.product_introduce_option_item:hover {
  cursor: pointer;
}

.product_introduce_price_location {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  font-size: 14px;
}

.product_introduce_location {
  color: var(--blue--color);
  margin-left: 5px;
}

.product_introduce_price_icon {
  color: var(--blue--color);
}

.product_introduce_price {
  color: var(--primary--color);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.product_introduce_promotion {
  width: 100%;
}

.product_introduce_promotion_title {
  font-size: 14px;
  padding: 0 5px;
}

.product_introduce_promotion_item {
  display: flex;
  padding: 10px 0;
  font-size: 12px;
}

.promotion_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--blue--color);
  margin: 0 5px;
}

.product_introduce_payment_title {
  font-size: 16px;
  font-weight: 500;
}

.product_introduce_payment_main {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.product_introduce_payment_tpbank {
  padding: 5px;
  width: 42%;
}

.product_introduce_payment_eximbank {
  padding: 5px;
  width: 42%;
}

.checkbox-round {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #999;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: var(--primary--color);
}

.checkbox-round:checked + .product_introduce_payment_eximbank {
  border-color: var(--primary--color);
}

.product_introduce_btn_payment {
  margin-top: 16px;
  height: 44px;
  background-color: var(--primary--color);
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  width: 100%;
  border-color: transparent;
}

.product_introduce_payment_expand {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.product_introduce_btn_payment_blue {
  cursor: pointer;

  width: 47%;
  background-color: var(--blue--color);
  font-size: 14px;
  height: 60px;
  border-radius: 6px;
  color: var(--white--color);
  border-color: transparent;
}

.product_introduce_btn_payment_blue:hover {
  opacity: 0.7;
}

.hotline {
  margin: 0 5px;
}

@media (max-width: 739px) {
  .pd-right {
    margin: 0 1.6rem;
  }
}
