.container-slider {
  height: 560px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px) {
  .container-slider {
    // margin: 100px 10px 0;
  }
}
.slide {
  width: 100%;

  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  margin: auto;
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.2;
}
.btn-slide:hover {
  opacity: 1;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.slider_prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%) translateX(-30%);
}
.slider_next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%) translateX(+30%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 15px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
