$main-color:#FFAC0A;
$txt-main-color:#000;
$txt-second-color:#8d8d8d;
$txt-white-color:#fff;
$blue:#288AD6;
$btn-main-color:#FFD400;
$box-shadow:rgba(149, 157, 165, .2) 0px 8px 24px;
$colors: ( "blue":#288AD6, "main":$main-color, "black":#000, "white":#fff);
$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;
$mobile-width:600px;
$tablet-width:1024px;
$numbers:(0, 1, 2, 3, 4, 5, 6, 7, 8);
// { acessories page }
$bg-main-header-accessories: #FFFBD1;
$bg-body-accessories: #FFFAF0;
$btn-blue-color: #288ad6;