.register {
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") repeat fixed;
    background-position: center;
    // background-size: 100% auto;
    // background-size: cover;
    .register__container {
        border-radius: 6px;
        box-shadow: 0 -2px 10px rgb(0 0 0 / 12%);
        margin: 3rem 0 3rem;
        background-color: white;
    }
    .register_form_input {
        width: 45%;
        padding: 0.7rem 0.7rem;
        margin: 0.3rem 0.5rem 0.3rem 0.3rem;
        border-radius: 4px;
        outline: none;
        &:invalid[focused="true"] {
            border: 2px solid #ff424f;
            &:invalid[focused="true"]~.register_form_input_mess {
                display: block;
            }
        }
        &:invalid[focused="true"]~.fa-circle-exclamation {
            color: #e74c3c;
            visibility: visible;
        }
        &:hover {
            border-color: var(--primary--color);
        }
        input {
            border: 2px solid #f0f0f0;
            width: 100%;
        }
        span {
            position: absolute;
            left: 2rem;
        }
        i {
            position: absolute;
            top: 16px;
            right: 2rem;
            visibility: hidden;
        }
    }
    .register_form_group_inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .register_form_gender {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding: 10px;
    }
    .register_form_btn_control {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn_next {
            outline: none;
            width: 100%;
            font-size: 1.4rem;
            background-color: var(--primary--color);
            font-weight: bold;
            border: none;
            color: var(--white--color);
            border-radius: 6px;
            margin-bottom: 5px;
            padding: 6px 12px;
        }
        .btn_next:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .register_form_radio_buttons_input_man {
        margin-right: 10px;
        input[type="radio"]:checked+label {
            background-color: var(--primary--color);
            color: white;
        }
        input[type="radio"] {
            display: none;
        }
        label {
            font-size: 15px;
            border: 2px solid var(--primary--color);
            border-radius: 5px;
            padding: 8px 15px;
            width: 10rem;
            text-align: center;
            width: 100px;
        }
    }
    .register_form_radio_buttons_input_woman {
        input[type="radio"]:checked+label {
            background-color: var(--primary--color);
            color: white;
        }
        input[type="radio"] {
            display: none;
        }
        label {
            font-size: 15px;
            border: 2px solid var(--primary--color);
            border-radius: 5px;
            padding: 8px 21px;
            width: 10rem;
            text-align: center;
            width: 100px;
        }
    }
    .register_form_btn_socials {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding: auto;
        margin-bottom: 0.6rem;
        a {
            text-decoration: none;
        }
        i {
            padding: 0px;
            padding-right: 0.8rem;
            font-size: 2rem;
            color: var(--primary--color);
        }
        .btn.btn_icon.flex_center {
            color: #000;
            margin: 5px;
            background: transparent;
        }
    }
    .register_form_radio_buttons {
        display: flex;
        justify-content: center;
    }
    .register_form_input_mess {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-top: -3px;
        color: #ff424f;
        display: none;
    }
    // SELECT ADDRESS 
    .register__address {
        margin: 1.2rem auto;
        width: 88%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .register__native-select {
            margin: 0;
            padding: 0.3rem 0;
        }
        .register__select {
            width: 45%;
            margin-bottom: 2rem;
        }
    }
}

//btn
//Responsive
@media (max-width: 739px) {
    .register__container {}
}