.containerPC {
  width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;

  $btn-blue-color : #288ad6;
  .btnViewMore-sub{
    margin-bottom: 20px;
  }
  .block-box-filter{

    display: flex;
    // justify-content: space-between;
    // width: 90%;
    flex-wrap: wrap;
    .filter-total{
        width: 80px;
        .filter-item{
            padding: 10px;
            
            span{
                padding-left: 5px;
            }
        }
    }

    .m-t{
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
        &.battery, &.avoid-water, &.healthy, &.utility,&.color{
            .sub-drop-down-box-filter{
                right: 0;
                &::before{
                    left: 500px;
                }
            }
        }


        .sub-drop-down-box-filter{ 
          z-index: 10;
          // left: 0;
          top: 50px;
          background-color: white;
          width: 560px;
          height: auto;
          position: absolute;
          box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
          &::before{
              position: absolute;
              z-index: 5;
              content: '';
              width: 10px;
              height: 10px;
              background: white;
              border: 1px solid white;
              border-color: white white transparent transparent;
              transform: rotate(-45deg);
              top: -5px;
              left: 35px;
          }
      
          .list-content{
              display: flex;
              flex-wrap: wrap;
              // padding: 10px;
              margin-top: 10px;
              .item-content{
                  border: 1px solid #e0e0e0;
                  border-radius: 5px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-left: 10px;
                  margin-top: 10px;
                  cursor: pointer;
                  &:hover{
                      color: $btn-blue-color;
                      border-color: $btn-blue-color;
                  }
              &.i-img{
                  width: 100px;
                  height: 40px;
                  img{
                      width: 100%;
                      
                  }
              }
                  .content{
                      padding: 10px;
                      text-align: center;
                  }
              }
          }
      
      
          .list-btn-active{
              box-shadow: 0 -4px 8px rgb(0 0 0 / 5%);
              height: 60px;
              position: relative;
              margin-top: 10px;
              .pos-center{
                 position: absolute;
                 transform: translate(50%,50%);
                 bottom: 50%;
                 right: 50%;
                 display: flex;
              }
              button{
                  border: none;
              }
      
              .btn-active{
                  display: inline-block;
                  width: 150px;
              
                  border: 1px solid black;
                  padding: 10px 0px;
                  border-radius: 5px;
                  text-align: center;
                  margin: 0px 10px;
                  span{
                      font-size: 15px;
                  }
      
              }
              .btn-canncel{
                  border-color: #EB1D36;
                  span{
                      color: #EB1D36;
                      
                  }
      
              }
              .btn-view-result{
                  background-color: $btn-blue-color;
                  border-color: $btn-blue-color;
                  span{
                      color: white;
                  }
              }
          }
      
      }
    }
    
    .filter-item{
    
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.4s;
        &:hover{
            border-color: $btn-blue-color;

        }
            .drop-down{
                position: relative;
                padding: 10px 20px 10px 10px;
                
            &::before{
                content: '';
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #333;
                position: absolute;
                // transform: translate(100px,0px);
                right: 5px;
                top: 15px;
                
            }
        }
    
    }

}


  .box-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box-sort {
      display: flex;
      align-items: center;
      .title-quantity {
        font-size: 17px;
        display: flex;
        align-items: center;
        font-weight: bold;
      }
      .flash {
        background: #e1f2e8;
        margin-right: 25px;
        padding: 4px 8px 5px 5px;
        border-radius: 4px;
        margin-left: 20px;
        a {
          display: flex;
        }
        img {
          display: inline-block;
          width: 10px;
          height: auto;
          margin: 0 3px;
        }
        p {
          font-style: italic;
          color: #219653;
        }
      }

      input {
        display: inline-block;
        border: 1px solid #a6a6a6;
        border-radius: 3px;
        margin-right: 3px;
        height: 16px;
        width: 16px;
      }

      .discount-accessories {
        display: flex;
        vertical-align: middle;
      }
    }

    .select {
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 3px;
    }
  }
  .breadcrumb {
    padding: 20px 0px;
    ul {
      display: flex;
      li {
        padding: 0px 10px;
        a {
          color: #288ad6;
        }
        .parentCate {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            border: 1px solid black;
            right: -10px;
            // margin: 0px 10px;
            border-color: black black transparent transparent;
            transform: translateY(50%) rotate(45deg);
            bottom: 50%;
          }
        }

        .childCate {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            border: 1px solid black;
            right: -10px;
            // margin: 0px 10px;
            border-color: black black transparent transparent;
            transform: translateY(50%) rotate(45deg);
            bottom: 50%;
          }
        }
        .quantity {
        }
      }
    }
  }
  .slider-banner {
    display: flex;

    align-items: center;
    justify-content: space-between;
    .slider {
      width: 67%;
      position: relative;

      .slick-slider {
        position: relative;

        .slick-next {
          position: absolute;
          right: 10px;
          //  background-color: transparent;
        }

        .slick-prev {
          z-index: 2;
          position: absolute;
          left: 10px;
          //background-color: red;
        }

        .slick-dots {
          position: absolute;
          bottom: 10px;
        }
      }
    }
  }

  .listProduct {
    display: flex;
    margin: 20px 0;
    .set-click-cate{
      color: #288ad6;

      img{
        border: 1px solid #288ad6;

      }

    }
    .product {
      margin: 0 30px;
      text-align: center;
      
      
      &:hover img {
        border: 1px solid #288ad6;
      }

      &:hover p {
        color: #288ad6;
      }

      a {
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          transition: all 0.1s;
        }

        p {
          margin-top: 5px;
        }
      }
    }
  }

  .star-outer {
    position: relative;
    // padding-left: 15px;
     padding-top: 5px;
    display: inline-block;
    &::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #ccc;
    }
    .star-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      //padding-left: 15px;
      padding-top: 5px;
      &::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #f8ce0b;
      }
    }
  }

  .listFirm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    .Firm {
      margin: 0 4px;
      // max-height: 23vh;
      overflow: hidden;
      overflow-y: auto;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      width: 99px;
      transition: all 0.3s;

      &:hover {
        border: 1px solid #288ad6;
      }
      a {
        height: 26px ;
        width: 99px;
        //line-height: 17px;

        
        img {
          // width: 100%;
          object-fit: contain;
          display: flex;
          width: auto;
          justify-content: center;
          max-height: 25px;
          max-width: 98%;
          margin-top: 7px;
          margin-bottom: 7px;
         // padding: 10px 0;


        
        }
      }
    }
  }

  .linkPro {
    margin: 10px 0;
    font-size: 13px;
    #blue {
      color: #288ad6;
    }

    i {
      color: #888;
      font-size: 9px;
      margin: 0 3px;
    }
    b {
      margin-right: 3px;
    }
  }

  .buttonPC {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    .checkboxPC {
      display: flex;
      align-items: center;
      .total {
        margin-right: 25px;
      }

      

      // .flash {
      //   background: #e1f2e8;
      //   margin-right: 25px;
      //   padding: 4px 8px 5px 5px;
      //   border-radius: 4px;

      //   a {
      //     display: flex;
      //   }
      //   img {
      //     display: inline-block;
      //     width: 10px;
      //     height: auto;
      //     margin: 0 3px;
      //   }
      //   p {
      //     font-style: italic;
      //     color: #219653;
      //   }
      // }
      input {
        display: inline-block;
        border: 1px solid #a6a6a6;
        border-radius: 3px;
        margin-right: 3px;
        height: 16px;
        width: 16px;
      }

      .discount {
        display: flex;
        vertical-align: middle;
      }
    }

    // .select {
    //   border: 1px solid #e0e0e0;
    //   border-radius: 4px;
    //   padding: 3px;
    // }
  }

  .listProduct_PCPrint {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    #item {
      width: 100%;
      margin: 10px 0;
      transition: all 0.3s;
    }
    .Product_PCPrint {
      cursor: pointer;
      width: 20%;
      border: 1px solid #e4e4e4;
      padding: 40px 20px;
      transition: all 0.3s;
      &:hover {
        box-shadow: 2px 2px 3px 0px rgb(210, 203, 203);

        .name {
          color: #288ad6;
        }

        #item {
          transform: translateY(-7px);
        }
      }

      .label_birthday {
        display: inline-block;
        .flex {
          display: flex;
          align-items: center;
          border-radius: 50px;
          overflow: hidden;
          background: #db2663;

          img {
            width: 20px;
            height: 20px;
            // border-radius: 50%;
            //background: #db2663;
          }
          span {
            font-size: 12px;
            vertical-align: center;
            color: #fff;
            padding: 5px 7px 5px 3px;
          }
        }
      }

      .name {
        margin: 10px 0;
        font-size: 14px;
        transition: all 0.3s;
      }

      .price_old {
        font-size: 14px;
      }

      .price_new {
        margin: 5px 0;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  .btnViewMore {
    font-size: 15px;
    padding: 10px 50px;
    border-radius: 4px;
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    text-decoration: none;
    border: none;
    // background: #fff;
    transition: all 0.3s;

    &:hover {
      background: #288ad6;
      color: #fff;
    }
  }
}