@import "./tragop";
.sc__list {
    height: 300px;
}

.scSubWrap {
    // select
    .sc__select {
        margin: 14px;
        .sc__item {}
    }
    // water provider
    .sc__water {
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
        li {
            transition: all 0.2s linear;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 23%;
            border-radius: 3px;
            margin-top: 1%;
            margin-bottom: 2%;
            box-shadow: 2px 2px 5px #dedede;
            border: 1px solid #dedede;
            height: 50px;
            font-size: 14px;
            &:hover {
                background-color: #288ad6;
                transition: all 0.2s linear;
                color: white;
            }
        }
    }
}