.login_header {
    height: 84px;
    box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
    align-items: center;
    display: flex;
}

.login_header_navbar_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.login_header_navbar_item,
.login_header_navbar_link {
    display: inline-block;
    font-size: 1rem;
    color: #EE4D2D;
    text-decoration: none;
}

.login_header_navbar_item.text_login {
    font-size: 2rem;
    margin-left: 20rem;
    margin-right: 40rem;

}

.link_logo img {
    width: 300px;
}

.login_form {
    border-radius: 10px;
}



.login_container_background {
    width: 112%;
    height: 632px;
    background-image: url('../../images/register/Banner-Big-Hero---Shopping-Season-1920x450.png');
    background-repeat: no-repeat;
    background-position: -300px 0;
    background-size: 1900px 632px;
    display: flex;
}



.img_login {
    width: 100px;
}

.login_form_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    width: 24%;
    height: 63%;
    background-color: white;
    margin-top: 5rem;
    margin-left: 900px;
}

.login_form_group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_form_input {
    font: inherit;
    box-sizing: border-box;
    height: 10%;
    width: 90%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 4px;
    position: relative;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.login_form_input:hover {
    border-color: #1dbfaf;
}

.login_form_input input {
    border: 2px solid #f0f0f0;
}

.login_form_input span {
    position: absolute;
    left: 3rem;
}

.login_form_input i {
    position: absolute;
    top: 15px;
    right: 4rem;
    visibility: hidden;
}

.login_form_input_mess {
    /* margin-top: 4rem;
        font-size: 1.2rem;
        color: #ff424f;
        min-height: 1rem;
        position: absolute;
        visibility: hidden; */
    
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-top: 5rem;
        margin-bottom: 0.5rem;
        display: none;
        color: #ff424f;
}


.login_form_input:invalid[focused="true"] {
    border: 2px solid #ff424f;
}

.login_form_input:invalid[focused="true"] ~ .login_form_input_mess {
    display: block;
}

.login_form_input.success i.fa-circle-check {
    color: #2ecc71;
    visibility: visible;
}

.login_form_input:invalid[focused="true"] ~ .fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}

.login_form_btn_control {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */
}

.login_form_btn_control .btn_next {
    /* box-sizing: border-box; */
    outline: none;
    height: 3.2rem;
    width: 28rem;
    font-size: 1.5rem;
    /* background-color: #EE4D2D; */
    background-color: #FFD400;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: #000;
    border-radius: 6px;
    margin-bottom: 5px;
}

.login_form_btn_control .btn_next:hover {
    opacity: .8;
    cursor: pointer         ;
}

.text_or {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.05rem;

}

.line {
    height: 1px;
    background-color: #dbdbdb;
    flex: 1;
}

.or {
    color: #ccc;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.btn.btn.btn_icon.flex_center {
    background-color: #fff;
}
.login_form_btn_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: auto;
}

.login_form_btn_socials a i {
    text-decoration: none;
    /* background-color: var(white); */
}


.btn.btn_icon {
    text-decoration: none;
    margin: 1rem 1rem;
}

.btn.btn_icon {
    height: 3rem;
    width: 12rem;
    border-style: solid;
    border-color: #ccc;
    padding: 0.6rem 1rem;
    border-width: 1px;

}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form_btn_socials i {
    padding: 0px;
    padding-right: 0.8rem;
    font-size: 2rem;
    color: #EE4D2D;
}

.login_form_btn_socials .btn.btn_icon.flex_center {
    color: #000;
    margin: 5px;
}

.login_register {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem;
}

.login_register .login_register_link {
    text-decoration: none;
    color: #ff424f;
    padding-left: 5px;
}

.forget_password {
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    font-size: 1.4rem;
    padding: 0.8rem;
    margin-right: 3rem;
}

.forget_password .forget_password_link {
    text-decoration: none;
    color: #ff424f;
    padding-left: 5px;
}