.pCardWrap {
  position: relative;
  width: 226px;
  height: 500px;
  border-radius: 4px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  transition: all 0.1s linear;
  margin: 6px 0;
  border: none;
  z-index: 1;
  overflow: hidden;
}

/* overlay */

.pCardWrap::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0);
  z-index: 2;
  transition: all 0.8s ease;
}

.pCardWrap:hover::after {
  transform: scale(3.5);
}

.pCard__overlay {
  position: absolute;
  z-index: 10;
  padding-top: 50%;
  padding-left: 32%;
  opacity: 0.1;
  transition: all 0.3s linear;
}

.pCard__overlay--show {
  opacity: 1;
  transition: all 0.3s linear;
  transform: scale(2);
}

.pCard__overlay img {
  width: 50%;
  height: auto;
}

/*  */

p {
  margin: 0;
}

/* hover */

.pCard__inner {
  transition: all 0.1s linear;
}

.pCardWrap:hover {
  transition: all 0.1s linear;
  transform: translate(0, 4px);
}

/* Top */

.pCard__TG {
  height: 23px;
  text-align: left;
  line-height: 22px;
  font-size: 14px;
  margin: 5px 5px 0 6px;
}

.pCard__TG p {
  background-color: #d9d9d9;
  border-radius: 2px;
  font-size: 11px;
  line-height: 12px;
  display: inline-block;
  margin-right: 4px;
  padding: 3px;
}

/* Img */

.pCard__img {
  margin-top: 8px;
  margin: 8px 10px 0px;
}

.pCard__img > img {
  width: 206px;
}

/* Des */

.pCard__des {
  letter-spacing: 0.05em;
  margin-left: 10px;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}

/* event */

.pCard__event {
  margin-top: 2px;
  height: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ffff;
  font-size: 12px;
  white-space: nowrap;
}

.pCard__event div {
  display: flex;
  height: 100%;
  margin-left: 8px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.pCard__event div p {
  margin-left: 6px;
  font-size: 10px;
}

/* event type */

.pCard__event--1 {
  width: 136px;
  background-color: #ff0000;
}

.pCard__event--1 img {
  width: 12px;
  height: auto;
}

.pCard__event--2 {
  width: 136px;
  background-color: #e62063;
}

.pCard__event--2 img {
  width: auto;
  height: 11px;
}

.pCard__name {
  margin-top: 12px;
  text-transform: uppercase;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  text-overflow: ellipsis;
}

.pCard__price {
  letter-spacing: 0.005em;
  margin-top: 5px;
  line-height: 26px;
  margin-left: 2px;
  width: 100%;
}

.pCard__price--onStockPrice {
  font-weight: 700;
  font-size: 19px;
  color: #cb1d20;
}

.marketPriceWrap {
  display: flex;
}

.pCard__promotion {
  color: #eb5757;
  line-height: 26px;
  background: #fff0e9;
  padding: 0 8px;
  margin-top: -3px;
  margin-left: 0.8rem;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.pCard__price--marketPrice {
  font-size: 12px;
  text-decoration: line-through;
  font-style: italic;
  margin-top: 12px;
  color: black;
  opacity: 0.6;
  letter-spacing: 0.01em;
  line-height: 8px;
}

.pCard__rate {
  margin-top: 5px;
  font-weight: bold;
  color: #ff9c3b;
  margin-left: 4px;
  margin-top: 4px;
}

.pCard__rate--inner {
  display: flex;
  align-items: center;
}

.pCard__award {
  letter-spacing: 0.005em;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  font-size: 12px;
  color: #66667f;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  text-overflow: ellipsis;
  opacity: 0.7;
}

.pCardWrap .star-phone {
  position: absolute;
  bottom: 30px;
}
