@import "../variables.scss";
// @import '../base.scss';

// html {
//     font-size: 13px;
// }

body {
  font-family: "Roboto", sans-serif;
  // font-size: 13px;
}
.accessories-container {
  width: 1200px;
  margin: 0 auto;
  font-size: 13px;
}
// .container {
//   overflow: hidden;
// }

.pageAccessories {
  overflow: hidden;
  .mainHeader {
    height: auto;
    background-color: #fffbd1;
    &.bg-main-header-accessories-sub-page {
      background: white;
      // height: auto;
    }
    .accessories-container {
      .slider-banner {
        display: flex;
        .slider {
          width: 800px;
          position: relative;
          .slick-slider {
            position: relative;
            .slick-next {
              position: absolute;
              right: 10px;
              //   background: rgba(216,216,216,.7) url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/smartwatch/icon_next.svg) center center no-repeat !important;
              //   background-color: red;
            }
            .slick-prev {
              position: absolute;
              left: 10px;
              z-index: 1;
              //   background-color: red;
            }
            .slick-dots {
              position: absolute;
              bottom: 10px;
            }
          }
        }
        .banner {
          margin-left: 10px;
        }
      }

      .menuTop {
        margin-top: 30px;
        .groupcate {
          display: flex;
          justify-content: space-between;
          cursor: pointer;

          .item-cate {
            padding-bottom: 10px;
            &:hover {
              .content {
                color: #288ad6;
              }
            }
          }
          .content {
            font-size: 15px;
            position: absolute;
            width: 100px;
            flex-wrap: wrap;
            text-align: center;
            transform: translate(110px, -85px);
            transition: all 0.4s;
          }
        }

        .dropdown-cate {
          position: absolute;
          width: 600px;
          height: auto;
          background: white;
          border-radius: 10px;
          // transform: translateY(1px);
          z-index: 1;
          box-shadow: 0px 2px 10px rgba($color: #333, $alpha: 0.4);
          &.gaming {
            display: none;
          }
          &.headphone {
            width: auto;
            transform: translateX(20px);
            .icon-angle-up {
              left: 85px;
            }
          }
          &.tech {
            width: 400px;
            height: 300px;
            ul {
              width: 100%;
              height: 100%;
              overflow: scroll;
            }

            transform: translateX(-140px);
            .icon-angle-up {
              left: 250px;
            }
          }
          .icon-angle-up {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 0px solid rgba($color: #e4e4e4, $alpha: 0.2);
            border-color: transparent transparent
              rgba($color: #333, $alpha: 0.4) rgba($color: #333, $alpha: 0.4);
            transform: rotate(135deg);
            left: 100px;
            top: -10px;
            background: white;
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;

            li {
              overflow: hidden;
              padding: 10px 20px 10px 10px;
              &:hover {
                a {
                  .content-dropdown {
                    color: #288ad6;
                    font-weight: bold;
                  }
                }
              }
              a {
                // width: 100%;
                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  background: #f1f1f1;
                  // position: absolute;
                  transform: translateX(12px);
                  z-index: 1;
                }
                .content-dropdown {
                  display: block;
                  width: 65px;
                  flex-wrap: wrap;
                  text-align: center;
                  padding-top: 5px;
                  padding-left: 10px;
                }
              }
            }
          }
        }
      }

      .menu-top-fixed {
        z-index: 7;
        width: 100%;
        position: fixed;
      }
      .breadcrumb {
        padding: 20px 0px;
        ul {
          display: flex;
          li {
            padding: 0px 10px;
            a {
              color: #288ad6;
            }
            .parentCate {
              position: relative;

              &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border: 1px solid black;
                right: -10px;
                // margin: 0px 10px;
                border-color: black black transparent transparent;
                transform: translateY(50%) rotate(45deg);
                bottom: 50%;
              }
            }

            .childCate {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border: 1px solid black;
                right: -10px;
                // margin: 0px 10px;
                border-color: black black transparent transparent;
                transform: translateY(50%) rotate(45deg);
                bottom: 50%;
              }
            }
            .quantity {
            }
          }
        }
      }
    }
  }
  .mainContent {
    // margin-top: 20px;
    // margin-bottom: 50px;
    height: auto;
    padding-top: 20px;
    background-color: $bg-body-accessories;
    &.bg-main-content-accessories-sub-page {
      background: rgb(248, 248, 248);
      height: auto;
      padding-bottom: 150px;
      // margin-bottom: 100px;
      .box-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .box-sort {
          display: flex;
          align-items: center;
          .title-quantity {
            font-size: 17px;
            display: flex;
            align-items: center;
            font-weight: bold;
          }
          .flash {
            background: #e1f2e8;
            margin-right: 25px;
            padding: 4px 8px 5px 5px;
            border-radius: 4px;
            margin-left: 20px;
            a {
              display: flex;
            }
            img {
              display: inline-block;
              width: 10px;
              height: auto;
              margin: 0 3px;
            }
            p {
              font-style: italic;
              color: #219653;
            }
          }

          input {
            display: inline-block;
            border: 1px solid #a6a6a6;
            border-radius: 3px;
            margin-right: 3px;
            height: 16px;
            width: 16px;
          }

          .discount-accessories {
            display: flex;
            vertical-align: middle;
          }
        }

        .select {
          border: 1px solid #e0e0e0;
          border-radius: 4px;
          padding: 3px;
        }
      }

      .listProduct {
        .item-product {
          height: 440px;
          width: 240px;
          background: rgb(248, 248, 248);
          // margin-bottom: 10px;
          cursor: pointer;
          border: 1px solid rgba($color: #e0e0e0, $alpha: 0.5);
          &:hover {
            box-shadow: 0px 2px 10px rgba($color: #333, $alpha: 0.4);
            z-index: 3;
            .title {
              color: #288ad6;
            }
            .img {
              .img-product {
                transform: translateY(-13px);
              }
            }
          }
          .img {
            align-items: center;
            text-align: center;
            height: auto;
            margin: 30px 15px 15px 15px;
            img {
              transition: all 0.4s;
              width: 100%;
              height: 100%;
            }
          }

          .special-event {
            top: 0;
            margin-bottom: 10px;
            position: relative;
            display: flex;
            align-items: center;
            width: 140px;
            height: 20px;
            background: linear-gradient(to right, #e91f63, #db2663);
            border-radius: 20px;
            overflow: hidden;

            img {
              width: 15%;
            }
            span {
              padding-left: 5px;
              color: white;
              font-size: 10px;
            }
          }

          .title {
            // padding-top: 190px;
            padding-left: 15px;
            font-weight: 400;
            transition: all 0.4s;
          }

          .item-compare {
            padding-left: 15px;
            padding-top: 10px;
            span {
              border: solid 1px #e0e0e0;
              padding: 3px 5px;
              font-size: 10px;
            }
          }

          .text-online {
            padding-left: 15px;
            padding-top: 5px;
          }

          .priceOld {
            padding-left: 15px;
            padding-top: 5px;
            .initialPrice {
              position: relative;
              text-decoration: line-through;
              .currency {
                position: absolute;
                font-size: 10px;
                top: 1px;
                right: -3px;
                text-decoration-line: underline;
              }
            }
            .discount {
              padding-left: 5px;
            }
          }
          .priceDeal {
            position: relative;
            // text-decoration: line-through;
            padding-top: 10px;
            padding-left: 15px;
            font-weight: 700;
            font-size: 17px;
            .currency {
              position: absolute;
              font-size: 10px;
              // right: -3px;
              text-decoration-line: underline;
            }
          }

          // .rateTotal {
          //   padding-left: 10px;
          // }
        }
      }
    }

    .accessories-container {
      .block-box-filter {
        display: flex;
        flex-wrap: wrap;
        .filter-total {
          width: 80px;
          .filter-item {
            padding: 10px;

            span {
              padding-left: 5px;
            }
          }
        }

        .m-t {
          margin-right: 10px;
          margin-bottom: 10px;
          position: relative;
          &.drop-right {
            .sub-drop-down-box-filter {
              right: 0;
              &::before {
                left: 500px;
              }
            }
          }
        }

        .filter-item {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.4s;
          &:hover {
            border-color: $btn-blue-color;
          }
          .drop-down {
            position: relative;
            padding: 10px 20px 10px 10px;

            &::before {
              content: "";
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #333;
              position: absolute;
              // transform: translate(100px,0px);
              right: 5px;
              top: 15px;
            }
          }
        }
      }

      .sub-drop-down-box-filter {
        z-index: 10;
        // left: 0;
        top: 50px;
        background-color: white;
        width: 560px;
        height: auto;
        position: absolute;
        box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
        &::before {
          position: absolute;
          z-index: 5;
          content: "";
          width: 10px;
          height: 10px;
          background: white;
          border: 1px solid white;
          border-color: white white transparent transparent;
          transform: rotate(-45deg);
          top: -5px;
          left: 35px;
        }

        .list-content {
          display: flex;
          flex-wrap: wrap;
          // padding: 10px;
          margin-top: 10px;
          .item-content {
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            margin-top: 10px;
            cursor: pointer;
            &:hover {
              color: $btn-blue-color;
              border-color: $btn-blue-color;
            }
            &.i-img {
              width: 100px;
              height: 40px;
              img {
                width: 100%;
              }
            }
            .content {
              padding: 10px;
              text-align: center;
            }
          }
        }

        .list-btn-active {
          box-shadow: 0 -4px 8px rgb(0 0 0 / 5%);
          height: 60px;
          position: relative;
          margin-top: 10px;
          .pos-center {
            position: absolute;
            transform: translate(50%, 50%);
            bottom: 50%;
            right: 50%;
            display: flex;
          }
          button {
            border: none;
          }

          .btn-active {
            display: inline-block;
            width: 150px;

            border: 1px solid black;
            padding: 10px 0px;
            border-radius: 5px;
            text-align: center;
            margin: 0px 10px;
            span {
              font-size: 15px;
            }
          }
          .btn-canncel {
            border-color: #eb1d36;
            span {
              color: #eb1d36;
            }
          }
          .btn-view-result {
            background-color: $btn-blue-color;
            border-color: $btn-blue-color;
            span {
              color: white;
            }
          }
        }
      }
      .btnViewMore-sub {
        border: none;

        margin-top: 30px;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        a {
          padding: 10px 50px;
          background-color: white;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          transition: all 0.4s;
          font-size: 15px;
          &:hover {
            background: #288ad6;
            color: white;
            &::before {
              border-top: 5px solid white;
            }
          }
          &::before {
            content: "";
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #333;
            position: absolute;
            right: 30px;
            top: 4px;
          }
        }
      }

      .listCate {
        h2 {
        }
        .wrapper-group-cate {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          // align-items: center;
          .wrapper {
            a {
              img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                // background: blue;
                margin-left: 15px;

                &.backupCharger {
                  background: linear-gradient(90deg, #6ac1ff 0%, #8bfffe 100%);
                }
                &.chargeCable {
                  background: linear-gradient(90deg, #ff8ca1 0%, #ffd0d0 100%);
                }
                &.headphone {
                  background: linear-gradient(90deg, #f8d383 0%, #ffbf83 100%);
                }
                &.speaker {
                  background: linear-gradient(90deg, #ede574 0%, #e1f5c4 100%);
                }
                &.tech {
                  background: linear-gradient(
                    135deg,
                    #f5ee27 14.65%,
                    #f4b43f 85.36%
                  );
                }
                &.camera {
                  background: linear-gradient(
                    135deg,
                    #f5ee27 14.65%,
                    #8bc34a 85.36%
                  );
                }
                &.wifi {
                  background: linear-gradient(
                    135deg,
                    #ffd740 14.65%,
                    #e040bd 85.36%
                  );
                }
                &.bumper {
                  background: linear-gradient(90deg, #9ce8fb 0%, #b4ffe4 100%);
                }
                &.mouse {
                  background: linear-gradient(
                    143.24deg,
                    #ffd772 14.65%,
                    #f3a618 71.95%
                  );
                }
                &.keyBoard {
                  background: linear-gradient(
                    135deg,
                    #377ef4 14.65%,
                    #cd48e3 85.36%
                  );
                }
              }
              .content {
                // text-align: start;
                flex-wrap: wrap;
                width: 100px;
                font-size: 15px;
                text-align: center;
                position: absolute;
                // transform: translateY(10px);

                // padding-right: 10px;
              }
            }
          }
        }
      }

      .brand {
        margin-top: 70px;
        .listBrand {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          a {
            width: 110px;
            height: 40px;
            border: solid 1px #e0e0e0;
            border-radius: 5px;
            position: relative;
            background: white;
            margin-top: 10px;

            img {
              width: 80%;
              // height: 100%;
              position: absolute;
              transform: translate(50%, 50%);
              bottom: 50%;
              right: 50%;
            }
          }

          .btnViewMore {
            margin-top: 10px;
            background: white;
            width: 110px;
            height: 40px;
            border: solid 1px rgba($color: #e0e0e0, $alpha: 1);
            border-radius: 5px;
            color: $btn-blue-color;
            cursor: pointer;
          }
        }
      }
      .item-product {
        height: 440px;
        width: 230px;
        background-color: white;
        cursor: pointer;
        &:hover {
          .title {
            color: #288ad6;
          }
          .img {
            .img-product {
              transform: translateY(-13px);
            }
          }
        }
        .img {
          position: relative;
          text-align: center;
          height: 205px;
          width: 205px;
          // padding-top: 20px;
          // margin-bottom: 70px;
          img {
            width: 100%;
            // padding-left: 20px;
          }
        }

        .special-event {
          position: absolute;
          bottom: -30%;
          display: flex;
          align-items: center;
          width: 140px;
          height: 20px;
          background: linear-gradient(to right, #e91f63, #db2663);
          border-radius: 20px;
          left: 15px;
          overflow: hidden;
          img {
            width: 15%;
          }
          span {
            padding-left: 5px;
            color: white;
            font-size: 10px;
          }
        }

        .title {
          // padding-top: 190px;
          padding-left: 15px;
          font-weight: 400;
          transition: all 0.4s;
        }

        .item-compare {
          padding-left: 15px;
          padding-top: 10px;
          span {
            border: solid 1px #e0e0e0;
            padding: 3px 5px;
            font-size: 10px;
          }
        }

        .text-online {
          padding-left: 15px;
          padding-top: 5px;
        }

        .priceOld {
          padding-left: 15px;
          padding-top: 5px;
          .initialPrice {
            position: relative;
            text-decoration: line-through;
            .currency {
              position: absolute;
              font-size: 10px;
              top: 1px;
              right: -3px;
              text-decoration-line: underline;
            }
          }
          .discount {
            padding-left: 5px;
          }
        }
        .priceDeal {
          position: relative;
          // text-decoration: line-through;
          padding-top: 10px;
          padding-left: 15px;
          font-weight: 700;
          font-size: 17px;
          .currency {
            position: absolute;
            font-size: 10px;
            // right: -3px;
            text-decoration-line: underline;
          }
        }
        .star-outer {
          position: relative;
          margin-left: 15px;
          margin-top: 10px;
          display: inline-block;
          &::before {
            content: "\f005 \f005 \f005 \f005 \f005";
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            color: #ccc;
          }
          .star-inner {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
            &::before {
              content: "\f005 \f005 \f005 \f005 \f005";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              color: #f8ce0b;
            }
          }
        }
        .rateTotal {
          padding-left: 10px;
        }
      }

      .deal-main {
        margin-top: 50px;
        .deal-title {
          position: relative;
          transform: translateY(6px);
          a {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .discount {
            position: absolute;
            transform: translate(-320px, 10px);
            color: #ffe45f;
            font-size: 70px;
          }
        }
        .listProduct-deal {
          height: 460px;
          background-color: #a70028;
          display: flex;
          // justify-content: space-between;
          align-items: center;
          padding: 0px 10px;
          .listProduct {
            .item-product {
              height: 420px;
              width: 225px;
              background: rgb(248, 248, 248);
              margin: 0 5px;
              // margin-bottom: 10px;
              cursor: pointer;
              border: 1px solid rgba($color: #e0e0e0, $alpha: 0.5);
              &:hover {
                box-shadow: 0px 2px 10px rgba($color: #333, $alpha: 0.4);
                z-index: 3;
                .title {
                  color: #288ad6;
                }
                .img {
                  .img-product {
                    transform: translateY(-13px);
                  }
                }
              }
              .img {
                align-items: center;
                text-align: center;
                height: auto;
                margin: 30px 15px 15px 15px;
                img {
                  transition: all 0.4s;
                  width: 90%;
                  height: 100%;
                  margin-right: 15px;
                }
              }

              .special-event {
                top: 0;
                margin-bottom: 10px;
                position: relative;
                display: flex;
                align-items: center;
                width: 140px;
                height: 20px;
                background: linear-gradient(to right, #e91f63, #db2663);
                border-radius: 20px;
                overflow: hidden;

                img {
                  width: 15%;
                }
                span {
                  padding-left: 5px;
                  color: white;
                  font-size: 10px;
                }
              }

              .title {
                // padding-top: 190px;
                padding-left: 15px;
                font-weight: 400;
                transition: all 0.4s;
              }

              .item-compare {
                padding-left: 15px;
                padding-top: 10px;
                span {
                  border: solid 1px #e0e0e0;
                  padding: 3px 5px;
                  font-size: 10px;
                }
              }

              .text-online {
                padding-left: 15px;
                padding-top: 5px;
              }

              .priceOld {
                padding-left: 15px;
                padding-top: 5px;
                .initialPrice {
                  position: relative;
                  text-decoration: line-through;
                  .currency {
                    position: absolute;
                    font-size: 10px;
                    top: 1px;
                    right: -3px;
                    text-decoration-line: underline;
                  }
                }
                .discount {
                  padding-left: 5px;
                }
              }
              .priceDeal {
                position: relative;
                // text-decoration: line-through;
                padding-top: 10px;
                padding-left: 15px;
                font-weight: 700;
                font-size: 17px;
                .currency {
                  position: absolute;
                  font-size: 10px;
                  // right: -3px;
                  text-decoration-line: underline;
                }
              }
            }
          }
        }
      }

      .list-product-same {
        margin-top: 90px;
        .banner {
          cursor: pointer;
          img {
            width: 100%;
          }
        }
        .menuTop {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          .item-menu {
            padding: 0 10px;
            a {
              padding: 10px 20px;
              border: 1px solid #e0e0e0;
              border-radius: 20px;
              line-height: 18px;
              height: 40px;
              background-color: white;
              transition: all 0.4s;
            }
          }
        }
        .listProduct {
          justify-content: space-between;
        }
        .item-product {
          height: 440px;
          width: 230px;
          background-color: white;
          margin-bottom: 10px;
          cursor: pointer;
          &:hover {
            .title {
              color: #288ad6;
            }
            .img {
              .img-product {
                transform: translate(15px, -13px);
              }
            }
          }
          .img {
            position: relative;
            text-align: center;
            height: 205px;
            width: 205px;

            padding: 30px 15px 30px 15px;
            margin-bottom: 30px;

            .img-product {
              transform: translateX(15px);
            }

            img {
              transition: all 0.4s;
              width: 100%;
            }
          }

          .special-event {
            top: 0;
            margin-bottom: 10px;
            position: relative;
            display: flex;
            align-items: center;
            width: 140px;
            height: 20px;
            background: linear-gradient(to right, #e91f63, #db2663);
            border-radius: 20px;
            overflow: hidden;

            img {
              width: 15%;
            }
            span {
              padding-left: 5px;
              color: white;
              font-size: 10px;
            }
          }

          .title {
            // padding-top: 190px;
            padding-left: 15px;
            font-weight: 400;
            transition: all 0.4s;
          }

          .item-compare {
            padding-left: 15px;
            padding-top: 10px;
            span {
              border: solid 1px #e0e0e0;
              padding: 3px 5px;
              font-size: 10px;
            }
          }

          .text-online {
            padding-left: 15px;
            padding-top: 5px;
          }

          .priceOld {
            padding-left: 15px;
            padding-top: 5px;
            .initialPrice {
              position: relative;
              text-decoration: line-through;
              .currency {
                position: absolute;
                font-size: 10px;
                top: 1px;
                right: -3px;
                text-decoration-line: underline;
              }
            }
            .discount {
              padding-left: 5px;
            }
          }
          .priceDeal {
            position: relative;
            // text-decoration: line-through;
            padding-top: 10px;
            padding-left: 15px;
            font-weight: 700;
            font-size: 17px;
            .currency {
              position: absolute;
              font-size: 10px;
              // right: -3px;
              text-decoration-line: underline;
            }
          }

          .star-outer {
            position: relative;
            margin-left: 15px;
            margin-top: 10px;
            display: inline-block;
            &::before {
              content: "\f005 \f005 \f005 \f005 \f005";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              color: #ccc;
            }
            .star-inner {
              position: absolute;
              top: 0;
              left: 0;
              white-space: nowrap;
              overflow: hidden;
              width: 0;
              &::before {
                content: "\f005 \f005 \f005 \f005 \f005";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: #f8ce0b;
              }
            }
          }
          .rateTotal {
            padding-left: 10px;
          }
        }

        .btnViewMore {
          border: none;
          margin-top: 30px;
          margin-bottom: 50px;
          position: relative;
          transform: translateX(-50%);
          left: 50%;
          a {
            padding: 10px 50px;
            background-color: white;
          }
          &::after {
            content: "";
            border-style: solid;
            border-width: 5px 0px 5px 7px;
            border-color: transparent transparent transparent black;
            position: absolute;
            transform: translate(-40px, 50%);
            bottom: 50%;
          }
        }
      }

      .listProduct {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
      }
    }

    .menu-top-fixed {
      z-index: 1;
      width: 100%;
      position: fixed;
      display: flex;
      align-items: center;
      background-color: black;
      height: 120px;
      top: 0;
      .accessories-container {
        display: flex;
        justify-content: space-between;
        .wrapper {
          padding: 0px 20px;
          margin-left: 15px;
          .content {
            color: white;
            text-align: center;
            padding-top: 10px;
            font-size: 13px;
            padding-left: 7px;
          }
          .deal {
            padding-left: 5px;
          }
          .apple {
            padding-left: 23px;
          }
          .backupCharger {
            padding-left: 22px;
          }
          .chargeCable {
            padding-left: 3px;
          }
          .headphone {
            padding-left: 3px;
          }
          .speaker {
            padding-left: 5px;
          }
          .tech {
            padding-left: 40px;
          }
          .gaming {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
