.register_header {
    height: 84px;
    box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
    align-items: center;
    display: flex;
}

.register_header_navbar_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.register_header_navbar_item,
.register_header_navbar_link {
    display: inline-block;
    font-size: 1rem;
    color: #EE4D2D;
    text-decoration: none;
}

.register_header_navbar_item.text_login {
    font-size: 2rem;
    margin-left: 20rem;
    margin-right: 40rem;

}

.link_logo img {
    width: 300px;
}

.register_form {
    border-radius: 10px;
}



.register_container_background {
    width: 112%;
    height: 632px;
    background-image: url('../../images/register/Banner-Big-Hero---Shopping-Season-1920x450.png');
    background-repeat: no-repeat;
    background-position: -300px 0;
    background-size: 1900px 632px;
    display: flex;
}

.img_login {
    width: 100px;
}

.register_form_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_form {
    width: 500px;
    height: 500px;
    background-color: white;
    margin-top: 10px;
    margin-left: 850px;
}

.register_form_group_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-left: 10px;
}

.register_form_input {
    font: inherit;
    box-sizing: border-box;
    /* height: 10%; */
    width: 210px;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 4px;
    position: relative;
    margin-right: 18px;
    margin-left: 0px;
    margin-bottom: 0.6rem;
    margin-top: 3px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    outline: none;
}

.register_form_input:hover {
    border-color: #1dbfaf;
}

/* .register_form_input::before {
    border-color: #1dbfaf;
} */

/* .register_form_input.username,
.register_form_input.mail,
.register_form_input.pass,
.register_form_input.pass2 {
    border: 2px solid #f0f0f0;
} */

.register_form_input input {
    border: 2px solid #f0f0f0;
}

.register_form_input span {
    position: absolute;
    left: 2rem;
}

.register_form_input i {
    position: absolute;
    top: 16px;
    right: 2rem;
    visibility: hidden;
}

.register_form_input_mess {
    /* margin-top: 4rem;
    font-size: 1.2rem;
    color: #ff424f;
    min-height: 1rem;
    position: absolute;
    visibility: hidden; */

    font-size: 1.2rem;
    line-height: 1.6rem;
    /* padding: 5.5rem 0 0.5rem 0; */
    margin-top: -3px;
    /* margin-bottom: 0.5rem; */
    color: #ff424f;
    display: none;
}

.register_form_input:invalid[focused="true"] {
    border: 2px solid #ff424f;
}

.register_form_input:invalid[focused="true"]~.register_form_input_mess {
    display: block;
}
.register_form_radio_buttons {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}
/* .register_form_input.success input {
    border-color: #2ecc71;
}

.register_form_input.error input {
    border-color: #e74c3c;
} */

/* .register_form_input:invalid[focused="false"] ~ .fa-circle-check {
    color: #2ecc71;
    visibility: visible;
} */

.register_form_input:invalid[focused="true"]~.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}

/* .register_form_input.success span {
    color: #2ecc71;
    visibility: visible;
}

.register_form_input.error span {
    color: #e74c3c;
    visibility: visible;
} */


.register_form_radio_buttons_input_man input[type = "radio"],
.register_form_radio_buttons_input_woman input[type="radio"] {
    display: none;
}


.register_form_radio_buttons_input_man label{
        font-size: 15px;
        border: 2px solid #FFD400;
        border-radius: 5px;
        padding: 8px 15px;
        width: 10rem;
        text-align: center;
        width: 100px;
    }

.register_form_radio_buttons_input_woman label{
    font-size: 15px;
    border: 2px solid #FFD400;
    border-radius: 5px;
    padding: 8px 21px;
    width: 10rem;
    text-align: center;
    width: 100px;
}

.register_form_radio_buttons_input_man,
.register_form_radio_buttons_input_woman {

}

.register_form_radio_buttons_input_man input[type="radio"]:checked + label,
.register_form_radio_buttons_input_woman input[type="radio"]:checked+label {
    background-color: #FFD400;
    color: white;
}


.register_form_radio_buttons_input_man {
    margin-right: 10px;
}

.register_form_gender {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
}

.register_form_btn_control {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_form_btn_control .btn_next {
    /* box-sizing: border-box; */
    outline: none;
    height: 3.2rem;
    width: 28rem;
    font-size: 1.5rem;
    /* background-color: #EE4D2D; */
    background-color: #FFD400;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: #000;
    border-radius: 6px;
    margin-bottom: 5px;
}

.register_form_btn_control .btn_next:hover {
    opacity: .8;
    cursor: pointer;
}

.text_or {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.05rem;

}

.line {
    height: 1px;
    background-color: #dbdbdb;
    flex: 1;
}

.or {
    color: #ccc;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.btn.btn.btn_icon.flex_center {
    background-color: #fff;
}

.register_form_btn_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: auto;
}

.register_form_btn_socials a i {
    text-decoration: none;
    /* background-color: var(white); */
}


.btn.btn_icon {
    text-decoration: none;
    margin: 1rem 1rem;
}

.btn.btn_icon {
    height: 3rem;
    width: 12rem;
    border-style: solid;
    border-color: #ccc;
    padding: 0.6rem 1rem;
    border-width: 1px;

}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_form_btn_socials i {
    padding: 0px;
    padding-right: 0.8rem;
    font-size: 2rem;
    color: #EE4D2D;
}

.register_form_btn_socials .btn.btn_icon.flex_center {
    color: #000;
    margin: 5px;
}

.register_form_aside {
    font-size: 12px;
}

.register_form_aside .register_form_policy_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_form_policy_link {
    color: #ff424f;
    text-decoration: none;
}

.chinhsach {
    display: flex;
    justify-content: space-between;
    width: 58%;
}

.register_login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem;
}

.register_login .register_login_link {
    text-decoration: none;
    color: #ff424f;
    padding-left: 5px;
}